*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#navbar{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

a{
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 20px;
}