*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: end; 
  gap: 1.5rem;
  margin-right: 3.5rem;
  font-size: 1.2rem;
}

.nav-links a{
  color: white;
  text-decoration: none;
}

.logo img{
    width: 70px;
    max-height: 100%;
}
